{
  "presets": [
    "env": {
      "production": {
        "plugins": ["transform-remove-console"]
      }
    },
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
